*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
}

.navbar{
    border: 2px solid black;
    margin: 2px 4px 4px 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 12px;

}

nav>a{
    color: red;
}

nav>div>a{
    color: black;
}